<template name="organizationProfile">
  {{# if Template.subscriptionsReady }}
    {{> organizationProfileHeader organization=organization }}
    <div class="container">
      <div class="row">
        <h3>
          {{_ 'organizationProfile_bigText_apisCount'  }}
        </h3>
        <small>
          {{_ 'organizationProfile_smallText_apisCount' managedApisCount}}
        </small>
      </div>
      {{> catalogueGrid apis=managedApis }}
    </div>
  {{ else }}
    {{> spinner }}
  {{/if}}
</template>
